/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-wrapper {
    width: 70%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* HEADER */
header {
    height: 70px;
    background-color: lightblue;
}

.flexnav {
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    flex-grow: 1;
}

.links {
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: .5rem .5rem;
}

.logo {
    width: 20%;
    text-align: left;
    padding: .5rem .5rem;
}

.login {
    width: 20%;
    text-align: right;
    padding: .5rem .5rem;
}

/* HERO */
.hero {
    width: 100%;
    height: 22.5rem;
    text-align: center;
    padding-top: 2rem;
}

.heroflex {
    width: 50%;
    height: 90%;
    margin: 0 auto;
}

/* SECTION-1, SECTION-3 */
.section-1, .section-3 {
    width: 100%;
    height: 25rem;
    display: flex;
    padding-top: 2.4rem;
}

 .inner-blue {
    width: 57%;
 }

 .inner-pink {
    width: 43%;
 }

/* SECTION-2 */
.section-2 {
    width: 100%;
    height: 25rem;
}

/* SECTION-4 */
.section-4 {
    width: 100%;
    height: 48rem;
    padding-top: 4rem;
}

.inner-green {
    width: 70%;
    height: 90%;
    margin: 0 auto;
}

/* SECTION-5 */
.section-5 {
    width: 100%;
    height: 28rem;
    padding-top: .5rem;
}

.col {
    width: 18%;
}

.col-pink {
    flex-grow: 1;
}

/* FOOTER */
footer {
    width: 100%;
    height: 85px;
}














/* DEBUG */
div {
    border: 1px dashed black;
}

.login {
    background-color: lightsalmon;
}

.logo {
    background-color: lightsalmon;
}

.link {
    background-color: lightsalmon;
}

.hero {
    background-color: blue;
}

.heroflex {
    background-color: pink;
}

.section-2 {
    background-color: lightgray;
}

.section-4 {
    background-color: lightgray;
}

.section-5 {
    background-color: rgb(36 39 42);
}

footer {
    background-color: rgb(36 39 42);
    border-top: 1px solid white
}

.section-wrapper {
    border: 1px dashed black;
}
 
.inner-pink {
    background-color: pink;
}

.inner-blue {
    background-color: blue;
}

.inner-green {
    background-color: green;
}

.col-pink {
    background-color: pink;
}

.col-cyan {
    background-color: cyan;
}